# Introduction

        The City of New York or New York City (NYC) is the most populous city in United States of America and thus in the state of New York.With an estimated 2017 population of 8,622,698 distributed over a land area of about 302.6 square miles (784 km2), New York is also the most densely populated major city in the United States. Located at the southern tip of the state of New York, the city is the center of the New York metropolitan area, the largest metropolitan area in the world by urban landmass and one of the world's most populous megacities, with an estimated 20,320,876 people in its 2017 Metropolitan Statistical Area and 23,876,155 residents in its Combined Statistical Area. A global power city, New York City has been described as the cultural, financial, and media capital of the world, and exerts a significant impact upon commerce, entertainment, research, technology, education, politics, tourism, art, fashion, and sports.
        Safety is really important for such city like New York. United States is diverse country so New York is diverse as well. Safety have affects on social life, business, community, tourism etc. so it should be considered seriously.

# Description

    I used New York City Neighborhood Names data from NYU Spacial Data Repository
    I used Foursquare API
    I used Geojson file of NYC to create a map by using Folium
    I used NYC API to get crime data

# Methodology

    1) Getting crime data by using NYC API
    2) Finding neighbourhood data by using Foursquare API and combine them with crime data.
    3) Creating a choropleth map
    4) Combining trending venues and crime data to see safe places in New York City

In [1]:
# importing all packages that we will need
!pip install sodapy
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library
from sodapy import Socrata

print('All done!')

Requirement not upgraded as not directly required: sodapy in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages
Requirement not upgraded as not directly required: future>=0.17.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from sodapy)
Requirement not upgraded as not directly required: requests>=2.20.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from sodapy)
Requirement not upgraded as not directly required: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.20.0->sodapy)
Requirement not upgraded as not directly required: idna<2.9,>=2.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.20.0->sodapy)
Requirement not upgraded as not directly required: certifi>=2017.4.17 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.20.0->sodapy)
Requirement not upgraded as not directly required: urllib3<1.25,>=1.21.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.20.0->sodapy)
Fetching package metadata .............
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /opt/conda/envs/DSX-Python35:
#
geopy                     1.18.1                     py_0    conda-forge
Fetching package metadata .............
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /opt/conda/envs/DSX-Python35:
#
folium                    0.5.0                      py_0    conda-forge
All done!

In [2]:
#i copied the whole code from Socrata web page: https://dev.socrata.com/foundry/data.cityofnewyork.us/5ucz-vwe8

#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("5ucz-vwe8", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
#Let's take a look what we have

results_df.head(25)

,boro,incident_key,jurisdiction_code,latitude,location_desc,longitude,occur_date,occur_time,perp_age_group,perp_race,perp_sex,precinct,statistical_murder_flag,vic_age_group,vic_race,vic_sex,x_coord_cd,y_coord_cd
0,BRONX,173354054,0,40.899690845,MULTI DWELL - APT BUILD,-73.8547492,2018-01-06T00:00:00.000,21:05:00,25-44,BLACK,M,47,False,45-64,WHITE HISPANIC,M,1024405,267090
1,STATEN ISLAND,182579814,0,40.628162072,BAR/NIGHT CLUB,-74.076375951,2018-05-10T00:00:00.000,23:47:00,25-44,BLACK,M,120,True,25-44,BLACK,M,963050,168139
2,QUEENS,183189831,0,40.701619053,NaN,-73.751413109,2018-05-25T00:00:00.000,17:50:00,NaN,NaN,NaN,113,False,25-44,BLACK,M,1053177,194990
3,BROOKLYN,183189830,0,40.684715402,NaN,-73.986343333,2018-05-27T00:00:00.000,23:30:00,NaN,NaN,NaN,84,False,18-24,BLACK,M,988038,188734
4,BROOKLYN,176296363,0,40.656976758,NaN,-73.908460209,2018-03-25T00:00:00.000,22:36:00,NaN,NaN,NaN,73,False,25-44,BLACK,M,1009649,178641
5,BROOKLYN,175444212,0,40.634697479,NaN,-73.927968182,2018-03-03T00:00:00.000,18:10:00,25-44,BLACK,M,63,False,25-44,BLACK,M,1004243,170519
6,BRONX,182363094,0,40.858904988,NaN,-73.892626635,2018-05-06T00:00:00.000,18:50:00,NaN,NaN,NaN,48,False,18-24,BLACK,M,1013952,252215
7,BRONX,184396812,2,40.824144257,MULTI DWELL - PUBLIC HOUS,-73.917172879,2018-06-22T00:00:00.000,20:44:00,NaN,NaN,NaN,44,False,25-44,BLACK,M,1007174,239543
8,BROOKLYN,175444212,0,40.634697479,NaN,-73.927968182,2018-03-03T00:00:00.000,18:10:00,25-44,BLACK,M,63,False,18-24,BLACK,M,1004243,170519
9,BRONX,173616163,0,40.861988669,NaN,-73.910314638,2018-01-13T00:00:00.000,00:50:00,NaN,NaN,NaN,52,False,25-44,WHITE HISPANIC,F,1009058,253333
10,BRONX,184102924,0,40.835127063,NaN,-73.922861751,2018-06-18T00:00:00.000,16:05:00,NaN,NaN,NaN,44,False,25-44,BLACK HISPANIC,M,1005596,243543
11,BROOKLYN,182968182,0,40.657340254,NaN,-73.917271852,2018-05-21T00:00:00.000,12:47:00,NaN,NaN,NaN,67,False,25-44,BLACK,M,1007204,178771
12,MANHATTAN,175189442,2,40.741506303,MULTI DWELL - PUBLIC HOUS,-73.979738601,2018-01-18T00:00:00.000,22:35:00,NaN,NaN,NaN,13,False,25-44,BLACK,M,989865,209425
13,BROOKLYN,174145604,2,40.649687373,MULTI DWELL - PUBLIC HOUS,-73.8934102,2018-01-27T00:00:00.000,08:43:00,NaN,NaN,NaN,69,True,25-44,BLACK,M,1013828,175990
14,BROOKLYN,175772725,0,40.670666272,NaN,-73.957975908,2018-03-09T00:00:00.000,23:29:00,NaN,NaN,NaN,77,False,18-24,BLACK,M,995908,183618
15,BRONX,173354054,0,40.899690845,MULTI DWELL - APT BUILD,-73.8547492,2018-01-06T00:00:00.000,21:05:00,25-44,BLACK,M,47,True,45-64,WHITE HISPANIC,M,1024405,267090
16,BRONX,178564738,0,40.813439975,NaN,-73.910018799,2018-04-24T00:00:00.000,22:37:00,NaN,NaN,NaN,40,False,18-24,WHITE HISPANIC,M,1009158,235645
17,BRONX,183102944,0,40.822298485,NaN,-73.911694131,2018-05-24T00:00:00.000,23:46:00,NaN,NaN,NaN,42,False,25-44,BLACK,M,1008691,238872
18,BRONX,173961270,0,40.851385338,NaN,-73.882235771,2018-01-23T00:00:00.000,21:58:00,NaN,NaN,NaN,48,False,18-24,BLACK,M,1016830,249479
19,QUEENS,183690690,0,40.703130395,NaN,-73.789428614,2018-06-09T00:00:00.000,03:41:00,NaN,NaN,NaN,103,False,25-44,BLACK,M,1042635,195513
20,BROOKLYN,182750896,2,40.697400473,MULTI DWELL - PUBLIC HOUS,-73.951301805,2018-05-15T00:00:00.000,09:58:00,NaN,NaN,NaN,79,False,18-24,BLACK,M,997754,193359
21,BRONX,173354054,0,40.899690845,MULTI DWELL - APT BUILD,-73.8547492,2018-01-06T00:00:00.000,21:05:00,25-44,BLACK,M,47,False,18-24,BLACK HISPANIC,M,1024405,267090
22,QUEENS,183190787,2,40.760956654,MULTI DWELL - PUBLIC HOUS,-73.932239155,2018-05-25T00:00:00.000,21:47:00,18-24,BLACK,M,114,False,25-44,BLACK,M,1003022,216518
23,BRONX,173354054,0,40.899690845,MULTI DWELL - APT BUILD,-73.8547492,2018-01-06T00:00:00.000,21:05:00,25-44,BLACK,M,47,False,45-64,WHITE HISPANIC,F,1024405,267090
24,BROOKLYN,173875579,0,40.680082223,NaN,-73.954368204,2018-01-19T00:00:00.000,21:20:00,NaN,NaN,NaN,79,False,25-44,BLACK,M,996907,187049

As you can see we have lack of information about crime location but it is not a big deal we just need crime counts to see if it is safe or not. So I decided to bring a table of counts of all Boroughs from our dataset.

In [4]:
group = results_df.groupby(['boro']).size().reset_index(name='count')
group.head(25)

            boro  count
0          BRONX    150
1       BROOKLYN    164
2      MANHATTAN     45
3         QUEENS     73
4  STATEN ISLAND      9

In [6]:
CLIENT_ID = 'BFGCRBNWLJV3QFVQB3HB2SKSUVAWVFOQPIUDEA1ENKWUBY0V' # your Foursquare ID
CLIENT_SECRET = 'N1YZNCIKYCLK0MACNMZOEVRS0CYAZELABW1M23JPQ3RW5FVI' # your Foursquare Secret
VERSION = '20190303'
LIMIT = 50
radius = 50 # 50 meters 
#categoryId=4d4b7104d754a06370d81259,4d4b7105d754a06372d81259
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

latitude = 40.899690845
longitude = -73.8547492

Your credentails:
CLIENT_ID: BFGCRBNWLJV3QFVQB3HB2SKSUVAWVFOQPIUDEA1ENKWUBY0V
CLIENT_SECRET:N1YZNCIKYCLK0MACNMZOEVRS0CYAZELABW1M23JPQ3RW5FVI

In [14]:
#Result from Foursquare API for a specific location
url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, radius, LIMIT)
url

results = requests.get(url).json()
results

{'meta': {'code': 429,
  'errorDetail': 'Quota exceeded',
  'errorType': 'quota_exceeded',
  'requestId': '5c7bb320351e3d13a5c7d871'},
 'response': {}}

In [13]:
venue = results['response']['headerLocation']
radius = 500
neighborhoods = []
for index,row in results_df.iterrows():
    
    latitude=row['latitude']
    longitude=row['longitude']
    url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, radius, LIMIT)
    results = requests.get(url).json()
    venue = results['response']['headerLocation']
    print('-------------------------------------------------------------------')
    print(latitude+ ','+longitude)
    print(venue)
    neighborhoods.append(venue)
        
results_df['neighborhood'] = neighborhoods

results_df.head()

KeyError: 'headerLocation'

In [ ]:
group_df =  results_df.groupby(['neighborhood']).size().reset_index(name='count')
group_df.head(25)

To create a map we should download JSON file.

In [9]:
!wget --quiet https://gist.githubusercontent.com/pstuffa/38111aa2e3077baa67f1d0c42df9bf08/raw/5a2dbefc06154bbbd1c35f3f5b15b336a67ccc09/nyc.json -O nyc.json
print('GeoJSON file downloaded!')

GeoJSON file downloaded!

In [10]:
world_geosn = r'nyc.json' # geojson file
print(world_geosn)

nyc.json

In [11]:
world_ny = folium.Map(location=[40.7127837,-74.0059413], zoom_start=11)
#world_ny

In [12]:
world_ny.choropleth(
    geo_data=world_geosn,
    data=group_df,
    columns=['neighborhood','count'],
    key_on='feature.properties.neighborhood',
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Crime Shooting in NYC'
)

# display map

world_ny

NameError: name 'group_df' is not defined

In [15]:
latitude =40.7127837
longitude=-74.0059413

url = 'https://api.foursquare.com/v2/venues/trending?client_id={}&client_secret={}&ll={},{}&v={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION)

# send GET request and get trending venues
results = requests.get(url).json()
results

{'meta': {'code': 429,
  'errorDetail': 'Quota exceeded',
  'errorType': 'quota_exceeded',
  'requestId': '5c7bb3464434b957b5fabbae'},
 'response': {}}

In [17]:
#'There are {} trending venues around NYC.'.format(len(results['response']['venues'][0]))